@{
    ViewBag.Title = "about";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h4> @ViewBag.Name</h4>

@{
    ViewBag.Test = "This is the test area";
} 

<p>This is the table area.</p>

<form>
    <table>
        <tr>
            <td>Name</td>
            <td>Age</td>
            <td>Sex</td>
            <td>Address</td>
        </tr>
        
    </table>
       

   
    
   
</form>
