
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>

<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Allusers</title>
</head>
<body>
    <div>
        @ViewBag.Message
        <p> This is first new paragraph</p>

        <p> This is second new paragraph</p>
    </div>
</body>
</html>
