@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



<address>
    First Name: Dev    <br /> Last Name: Nepal <br /> Küferstraße 31, 65931<br />Frankfurt am Main, Deutschland
</address>

<h2> @{
    ViewBag.YourContact="Contact Us" ;
    }
    </h2>